
		<!-- header start -->
		<header class="intelligent-header hide-on-mobile">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<div class="logo">
								<a href="index.html">SEOUL MEDICAL CENTER</a>
							</div>
						</div>
						<div class="col-md-9 col-xs-12">
							<div class="main-menu text-right">
								<nav>
									<ul class="menu">
										<li><a href="index.html">HOME <i class="fa fa-angle-down" aria-hidden="true"></i></a>
											<ul>
												<li><a href="index.html">home version 1</a></li>
												<li><a href="index-2.html">home version 2</a></li>
												<li><a href="index-3.html">home version 3</a></li>
												<li><a href="index-4.html">home version 4</a></li>
												<li><a href="index-5.html">home version 5</a></li>
												<li><a href="index-6.html">home version 6</a></li>
												<li><a href="index-7.html">home version 7</a></li>
												<li><a href="index-8.html">home version 8</a></li>
											</ul>
										</li>
										<li><a href="about-us.html">ABOUT US</a></li>
										<li><a href="box-gutter-portfolio-2.html">Portfolio <i class="fa fa-angle-down" aria-hidden="true"></i></a>
										    <ul>
                                                <li><a href="#">Boxed Style <span><i class="fa fa-angle-right"></i></span></a>
												    <ul>
														<li><a href="box-gutter-portfolio-4.html">Gutter 4 Column</a></li>
														<li><a href="box-gutter-portfolio-3.html">Gutter 3 Column</a></li>
														<li><a href="box-gutter-portfolio-2.html">Gutter 2 Column</a></li>
														<li><a href="box-no-gutter-portfolio-4.html">no Gutter 4 Column</a></li>
														<li><a href="box-no-gutter-portfolio-3.html"> no Gutter 3 Column</a></li>
														<li><a href="box-no-gutter-portfolio-2.html">no Gutter 2 Column</a></li>
													</ul>
												</li>
												<li><a href="#">Wide Style <span><i class="fa fa-angle-right"></i></span></a>
													<ul>
														<li><a href="wide-gutter-portfolio-6.html">Gutter 6 Column</a></li>
														<li><a href="wide-gutter-portfolio-4.html">Gutter 4 Column</a></li>
														<li><a href="wide-gutter-portfolio-3.html">Gutter 3 Column</a></li>
														<li><a href="wide-gutter-portfolio-2.html">Gutter 2 Column</a></li>
														<li><a href="wide-no-gutter-portfolio-6.html">no Gutter 6 Column</a></li>
														<li><a href="wide-no-gutter-portfolio-4.html"> no Gutter 4 Column</a></li>
														<li><a href="wide-no-gutter-portfolio-3.html">no Gutter 3 Column</a></li>
														<li><a href="wide-no-gutter-portfolio-2.html">no Gutter 2 Column</a></li>
													</ul>
												</li>
												<li><a href="#">Card Style <span><i class="fa fa-angle-right"></i></span></a>
												    <ul>
														<li><a href="box-card-portfolio-4.html">card box 4 Column</a></li>
														<li><a href="box-card-portfolio-3.html">card box 3 Column</a></li>
														<li><a href="box-card-portfolio-2.html">card box 2 Column</a></li>
														<li><a href="wide-card-portfolio-6.html">card full Width 6 Column</a></li>
														<li><a href="wide-card-portfolio-4.html">card full Width 4 Column</a></li>
														<li><a href="wide-card-portfolio-3.html">card full Width 3 Column</a></li>
														<li><a href="wide-card-portfolio-2.html">card full Width 2 Column</a></li>
													</ul>
												</li>
												<li><a href="#">Masonry Box <span><i class="fa fa-angle-right"></i></span></a>
												    <ul>
														<li><a href="masonry-standard-box.html">masonry standard</a></li>
														<li><a href="masonry-standard-gutter-box.html">masonry standard 2</a></li>
														<li><a href="mesonry-box-portfolio-4.html">box 4 Column</a></li>
														<li><a href="mesonry-box-portfolio-3.html">box 3 Column</a></li>
														<li><a href="mesonry-box-portfolio-2.html">box 2 Column</a></li>
														<li><a href="masonry-box-gutterless-portfolio-4.html">Gutter less 4 Column</a></li>
														<li><a href="masonry-box-gutterless-portfolio-3.html">Gutter less 3 Column</a></li>
														<li><a href="masonry-box-gutterless-portfolio-2.html">Gutter less 2 Column</a></li>
													</ul>
												</li>
												<li><a href="#">Masonry Wide <span><i class="fa fa-angle-right"></i></span></a>
												    <ul>
														<li><a href="masonry-standard-gutter-full.html">masonry standard</a></li>
														<li><a href="masonry-standard-gutter-less-full.html">masonry standard 2</a></li>
														<li><a href="mesonry-wide-portfolio-4.html">full Width 4 Column</a></li>
														<li><a href="mesonry-wide-portfolio-3.html">full Width 3 Column</a></li>
														<li><a href="mesonry-wide-portfolio-2.html">full Width 2 Column</a></li>
														<li><a href="masonry-wide-gutterless-portfolio-4.html">full Width Gutter less 4</a></li>
														<li><a href="masonry-wide-gutterless-portfolio-3.html">full Width Gutter less 3</a></li>
														<li><a href="masonry-wide-gutterless-portfolio-2.html">full Width Gutter less 2</a></li>
													</ul>
												</li>
												<li><a href="#">Portfolio Details<span><i class="fa fa-angle-right"></i></span></a>
												    <ul>
														<li><a href="single-portfolio.html">Portfolio Details 1</a></li>
														<li><a href="single-portfolio-slider.html">Portfolio Details 2</a></li>
														<li><a href="single-portfolio-3.html">Portfolio Details 3</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="blog.html">BLOG <i class="fa fa-angle-down" aria-hidden="true"></i></a>
										    <ul>
												<li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
												<li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
												<li><a href="blog-3-column.html">blog 3 column</a></li>
												<li><a href="blog-3-column-full-wide.html">full Width 3 column</a></li>
												<li><a href="blog-4-column-full-wide.html">full Width 4 column</a></li>
												<li><a href="blog-details.html">blog post details</a></li>
											</ul>
										</li>
										<li><a href="pricing.html">PRICING</a></li>
										<li><a href="service-page.html">services</a></li>
										<li><a href="contact.html">CONTACT</a></li>
									</ul>
								</nav>
							</div>
							<div class="mobile-menu"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="header-space"></div>
		<!-- header end -->
		<!-- header end -->
    <div style="background-color: black;">
		<section class="breadcrumbs-area ptb-110 bg-2 port bread-card breadcrumbs-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="breadcrumbs">
                            <h2 class="page-title">SEOUL MEDICAL CENTER</h2>
                            <ul>
                                <li>
                                    <a class="active" href="#">Home</a>
                                </li>
                                <li>Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
		<!-- portfolio start -->
		<!-- service-area start -->
		<div class="service-area gray-bg border-top pt-90 pb-60">
			<div class="container">
				<div class="section-title text-center mb-70">
					<h2>Our Service</h2>
					<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>Medical Design</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
              <h3>Health Development</h3>
              <p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>Comfort Medicine</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>After Service</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>Decisive Treatment</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center xs-service">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>End to End Care</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>Surgical Onboarding</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>Oncology</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
							<h3>Medical Checkup</h3>
							<p>현재 고객님의 브라우저는 인터넷 익스플로러 8 이하로 원활한 이용을 위해 업데이트를 권장해 드립니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- service-area end -->
		<!-- footer start -->
		<footer class="footer-bg">
			<div class="footer-area ptb-90">
				<div class="container">
					<div class="col-md-4 col-sm-4">
						<div class="footer-info text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
              <h5>서울특별시 종로구 율곡로 187 6층</h5>
            </div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="footer-info text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
              <h5>02-742-6321</h5>
            </div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="footer-info text-center">
              <img class="icon-spacer-1" src="https://maxcdn.icons8.com/iOS7/PNG/25/Holidays/christmas_star_filled-25.png" title="Christmas Star Filled" width="25">
              <h5>devitems@gmail.com</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom gray-bg ptb-20">
				<div class="container">
					<div class="copyright text-center">
						<p>© 2017 <a href="#">hastech</a>, All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->

		<!-- all js here -->
        <script src="./js/vendor/jquery-1.12.0.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/isotope.pkgd.min.js"></script>
        <script src="./js/owl.carousel.min.js"></script>
        <script src="./js/imagesloaded.pkgd.min.js"></script>
        <script src="./js/jquery.meanmenu.js"></script>
        <!-- ajax-mail js -->
        <script src="./js/ajax-mail.js"></script>
        <script src="./js/plugins.js"></script>
        <script src="./js/main.js"></script>
        <script src="./js/addon.js"></script>
